/**{
	outline:1px solid rgba(255,0,0,0.3);
}*/
.lista-sin-estilo{list-style-type: none;}/*--->Para todas las listas sin estilo*/
.texto-gris-oscuro{color:#727272;} 
img{width: 100%;}

/*CSS de header*/
.head{background-color: #fff;position: fixed; width:100%; z-index:2000;}
.head img{width: 60%; margin-top: 10px; margin-bottom: 10px;}
.head div nav ul li{display: inline-block; padding:0px 20px 0px 20px; border-right: 1px solid #9E9E9E;}
.head div nav ul li a{text-decoration: none; color:#000;}
.head div nav ul li:last-child{border-right: none;}
.head div nav ul{padding-top: 30px; padding-bottom: 30px;}

/*CSS de portada*/
.portada{margin:0px;}
.portada div:first-child{background-image: url('../img/semilla.jpg'); height: 550px; background-size: cover; }
.portada p{width: 70%; margin: auto; padding-top: 60px;padding-bottom: 60px; font-size: 15px;}

/*CSS de mision y vision*/
.mision{margin:0px; padding-top: 70px; padding-bottom: 70px;}
.mision div img {max-width: 150px;}
.mision h1{font-weight: 700; margin-top: 10px; margin-bottom: 10px;}
.mision p{padding-left: 50px; padding-right: 50px; font-size: 15px;}

/*CSS de metodologia*/
.metodo{margin:0px; max-height: 388px; overflow: hidden;}
.metodo div:first-child{background-image: url('../img/metodo.jpg'); height: 408px; background-size: cover;}
.metodo div:last-child{background-image: url('../img/fondo.jpg'); padding: 90px 50px 90px 50px;}
.metodo div:last-child img{max-width: 50px;}
.metodo div h1{padding-top: 30px; padding-bottom: 30px;}
.metodo p{font-size: 15px;}

/*CSS de servicios*/
.servicios{margin:0px; padding-top: 80px; padding-bottom: 80px;}
.servicios >p {font-size: 15px;  margin:30px 150px 30px 150px;}
.servicios div ul li div img{max-width: 120px; text-align: center;}
.servicios div ul li {padding-top: 90px; vertical-align: top; display: inline-block; width:33%; } 
.servicios div ul li div h3{padding:20px 70px 20px 70px;  color: #5E8039; text-align: center; margin: auto;}
.servicios div ul li:nth-child(4) div h3{padding-left: 10px; padding-right: 10px;}
.servicios div ul li div p{ padding: 30px; font-size: 15px;}

/* CSS de proyectos */
.proyectos{
	background: #5E8039;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}
.proyecto1 {
	margin-top:100px; 
}
.proyecto2 {
	margin-bottom: 400px;
}
.proyecto1 div img{
	width: 450px;
	height: 300px; 
}
.proyecto1 h4{margin-top: 40px;}
.proyecto2 div img{
	width: 450px;
	height: 300px;
}
.equipo{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 80px;
}
.equipo div img{
	width: 200px;
	height: 200px;
	border-radius: 100%
}
h3{
	text-align: left;
	font-size: 20px;
	margin-left: 85px;
	margin-top:40px;
}
h6{
	width: 350px;
	margin-left: 140px;
}
.equipo .icon img{
	width: 20px;
	height: 20px;
	border-radius: 10%;
}
.servicios div ul li p{ padding: 30px; font-size: 15px;}
/*Blog*/
.blog {background-image: url('../img/fondo2.jpg');}
.titulo h1{margin-left: 50px;text-align: left; display: block;}
.textos ul li div p:last-child{list-style-type: none;text-align: left;}
.textos img{width: 300px;	height: 200px;margin: auto 20px;margin-bottom: 5px;} 
/* .textos ul li {min-height: 350px; margin-top: 0px;}*/
.textos h4, .textos p{margin-top: 0px;text-align: left; margin-left: 20px}
/*.textos ul li  {list-style-type: none;width: 300px;margin: 40px auto;font-size: 13px;}*/
.flechas{width: 130px;height: 130px;}
#izquierda{position: relative;left: 70px;bottom: 260px;}
#derecha{position: relative;left: 1090px;bottom: 260px}
/*termina Blog*/
/*Inicia Contacto*/
.contacto{text-align: center;background-color: #4B474B;padding: 100px;}
.col-3{border:1px solid white;height: 200px;}
.col-3 p{margin-top:20px;margin-right:110px;color: white}
#iconos{width: 50px;height: 50px;float: right;margin-top: 100px;margin-right: 60px;}
#icono{height: 30px;width: 50px;float: right;margin-right: 60px;margin-top: 110px;}
/*Termina  Contacto*/

