/**{
	outline:1px solid rgba(255,0,0,0.3);
}*/
.lista-sin-estilo{list-style-type: none;}/*--->Para todas las listas sin estilo*/
.texto-gris-oscuro{color:#727272;} 
img{width: 100%;}

/*CSS de header*/
.head{background-color: #fff; position: fixed; top:0px; margin:0px;}
.head img{width: 60%; margin-top: 10px; margin-bottom: 10px; float: right;}
.head div nav ul li{display: inline-block; padding:0px 20px 0px 20px; border-right: 1px solid #9E9E9E;}
.head div nav ul li:last-child{border-right: none;}
.head div nav ul{padding-top: 30px; padding-bottom: 30px;}

/*CSS de portada*/
.portada{margin:0px;}
.portada div:first-child{background-image: url('../img/semilla.jpg'); height: 550px; background-size: cover; }
.portada p{width: 70%; margin: auto; padding-top: 60px;padding-bottom: 60px; font-size: 15px;}

/*CSS de mision y vision*/
.mision{margin:0px; padding-top: 70px; padding-bottom: 70px;}
.mision div img {max-width: 150px;}
.mision h1{font-weight: 700; margin-top: 10px; margin-bottom: 10px;}
.mision p{padding-left: 50px; padding-right: 50px; font-size: 15px;}

/*CSS de metodologia*/
.metodo{margin:0px; max-height: 388px; overflow: hidden;}
.metodo div:first-child{background-image: url('../img/metodo.jpg'); height: 408px; background-size: cover;}
.metodo div:last-child{background-image: url('../img/fondo.jpg'); padding: 90px 50px 90px 50px;}
.metodo div:last-child img{max-width: 50px;}
.metodo div h1{padding-top: 30px; padding-bottom: 30px;}
.metodo p{font-size: 15px;}

/*CSS de servicios*/
.servicios{margin:0px; padding-top: 80px; padding-bottom: 80px;}
.servicios >p {font-size: 15px;  margin:30px 150px 30px 150px;}
.servicios div ul li div img{max-width: 120px;}
.servicios div ul li {padding-top: 90px; vertical-align: top; display: inline-block; width:33%;}
.servicios div ul li h3{padding: 20px 70px 20px 70px; color: #5E8039;}
.servicios div ul li:nth-child(4) h3{padding-left: 0px; padding-right: 0px;}
.servicios div ul li p{ padding: 30px; font-size: 15px;}
/* CSS de proyectos */
.proyectos{
	background: #5E8039;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}
.proyecto1 {
	margin-top:100px; 
}
.proyecto2 {
	margin-bottom: 400px;
}
.proyecto1 div img{
	width: 450px;
	height: 300px; 
}
.proyecto2 div img{
	width: 450px;
	height: 300px;
}
.equipo{
	text-align: center;
	margin-bottom: 40px;
}
.equipo div img{
	width: 200px;
	height: 200px;
	border-radius: 100%
}
h3{
	text-align: left;
	font-size: 15px;
	margin-left: 85px;
}
h6{
	width: 350px;
	margin-left: 140px;
}
.equipo .icon img{
	width: 20px;
	height: 20px;
	border-radius: 10%;
}
.servicios div ul li p{ padding: 30px; font-size: 15px;}

